@using ShippingSystem.Presentation.ViewModels.BranchVM
@model AddBranchViewModel
@{
    ViewData["Title"] = "Add";
}

<form asp-action="SaveNew" asp-controller="Branch" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
    </div>
    <div>
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form form-control" />
    </div>
    <div>
        <input type="submit" value="Add" class="btn btn-success mt-3" />
    </div>
</form>
<a asp-action="Index" asp-controller="Branch" class="btn btn-dark mt-3"><i class="bi bi-arrow-left"></i> Back To List</a>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>