@using ShippingSystem.Presentation.ViewModels.BranchVM
@model EditBranchViewModel
@{
    ViewData["Title"] = "Edit";
}

<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-6">
                <div class="bg-faded rounded p-5 shadow">
                    <h2 class="section-heading text-center mb-4">
                        <span class="section-heading-upper">Branch Management</span>
                        <span class="section-heading-lower">Edit Branch</span>
                    </h2>
                    <form asp-action="SaveEdit" asp-controller="Branch" asp-route-id="@Model.Id">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div>
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Location"></label>
                            <input asp-for="Location" class="form form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="CreateAt"></label>
                            @* <input asp-for="CreateAt" class="Form form-control"/> *@
                            <input asp-for="CreateAt" type="datetime-local" class="form form-control"
                                   value="@Model.CreateAt.ToString("yyyy-MM-ddTHH:mm")" />

                            <span asp-validation-for="CreateAt" class="text-danger"></span>
                        </div>
                        <div class="d-grid mt-3">
                            <button class="btn btn-success btn-lg"><i class="bi bi-save"></i> Save Changes</button>
                        </div>
                    </form>
                    <div class="text-center mt-4">
                        <a asp-action="Index" asp-controller="Branch" class="btn btn-dark"><i class="bi bi-arrow-left"></i> Back To List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>