@using ShippingSystem.Presentation.ViewModels
@model EditBranchViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form asp-action="SaveEdit" asp-controller="Branch" asp-route-id="@Model.Id">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CreateAt"></label>
        @* <input asp-for="CreateAt" class="Form form-control"/> *@
        <input asp-for="CreateAt" type="datetime-local" class="form form-control"
               value="@Model.CreateAt.ToString("yyyy-MM-ddTHH:mm")" />

        <span asp-validation-for="CreateAt" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Save Edit" class="btn btn-success mt-3"/>
    </div>
</form>
<div>
    <a asp-action="Index" asp-controller="Branch" class="btn btn-dark mt-3"><i class="bi bi-arrow-left"></i> Back To List</a>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>