@using ShippingSystem.Presentation.ViewModels
@model AddWeightSettingsViewModel
@{
    ViewData["Title"] = "New";
    SelectList cityList = new SelectList(Model.CityList, "Id", "Name");
}

<h1>New</h1>
<form asp-action="SaveNew" asp-controller="WeightSettings" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="BaseWeightLimit"></label>(Kg)
        <input asp-for="BaseWeightLimit" class="form form-control" />
        <span asp-validation-for="BaseWeightLimit" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PricePerKg"></label>(EGP)
        <input asp-for="PricePerKg" class="form form-control"/>
        <span asp-validation-for="PricePerKg" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CityId"></label>
        <select asp-for="CityId" asp-items="cityList" class="form form-control">
            <option value="0">--Select City--</option>
        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Add" class="btn btn-success mt-3" />
    </div>
</form>
<a asp-action="Index" asp-controller="WeightSettings" class="btn btn-dark mt-3"><i class="bi bi-arrow-left"></i> Back To List</a>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>