@using ShippingSystem.Domain.Entities
@model Cities
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Delivery Cost</td>
            <td>Pick Up Cost</td>
            <td>Governorate Name</td>
        </tr>
    </thead>
    <tbody>
       <tr>
           <td>@Model.Name</td>
           <td>@Model.DeliveryCost EGP</td>
           <td>@Model.PickupCost EGP</td>
           <td>@Model.Governorate?.Name</td>
       </tr>
    </tbody>
</table>
<a asp-action="Index" asp-controller="City" class="btn btn-dark"><i class="bi bi-arrow-left"> Back To List</i></a>

