@using ShippingSystem.Domain.Entities
@model List<OrderStatus>

@{
    ViewData["Title"] = "Order Status";
}
<div class="mt-3 mb-3">
    <a asp-action="Add" asp-controller="OrderStatus" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add New</a>
</div>
<div class="table-responsive">
    <table class="table table-hover table-bordered align-middle text-center bg-light bg-opacity-75 shadow-sm rounded">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Settings</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-action="Edit" asp-controller="OrderStatus" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Delete" asp-controller="OrderStatus" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
