@using ShippingSystem.Domain.Entities
@using ShippingSystem.Presentation.ViewModels.CourierVM
@model AddCourierViewModel
@{
    ViewData["Title"] = "Add";
    SelectList branchList = new SelectList(Model.BranchList, "Id", "Name");
    SelectList govList = new SelectList(Model.GovernoratesList, "Id", "Name");
   
}
<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-6">
                <div class="bg-faded rounded p-5 shadow">
                    <h2 class="section-heading text-center mb-4">
                        <span class="section-heading-upper">Couriers Management</span>
                        <span class="section-heading-lower">Add New Courier</span>
                    </h2>
                    <form asp-action="SaveNew" asp-controller="Courier" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div>
                            <label asp-for="CourierName"></label>
                            <input asp-for="CourierName" class="form form-control" />
                            <span asp-validation-for="CourierName" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="CourierEmail"></label>
                            <input asp-for="CourierEmail" class="form form-control" />
                            <span asp-validation-for="CourierEmail" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="CourierPassword"></label>
                            <input asp-for="CourierPassword" class="form form-control" />
                            <span asp-validation-for="CourierPassword" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="CourierPhone"></label>
                            <input asp-for="CourierPhone" class="form form-control" />
                            <span asp-validation-for="CourierPhone" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="CourierAddress"></label>
                            <input asp-for="CourierAddress" class="form form-control" />
                            <span asp-validation-for="CourierAddress" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="DiscountTypeOptions"></label>
                            <select class="form form-control" asp-for="DiscountTypeOptions" asp-items="Html.GetEnumSelectList<DiscountType>()">
                                <option value="">--Select Discount Type--</option>
                            </select>
                            <span asp-validation-for="DiscountTypeOptions" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="CompanyDiscountValue"></label>
                            <input asp-for="CompanyDiscountValue" class="form form-control" />
                            <span asp-validation-for="CompanyDiscountValue" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="BranchId"></label>
                            <select asp-for="BranchId" class="form form-control" asp-items="branchList">
                                <option value="0">--Select Branch--</option>
                            </select>
                            <span asp-validation-for="BranchId" class="text-danger"></span>
                        </div>
                        <label asp-for="GovernorateId"></label>
                        <select asp-for="GovernorateId" class="form form-control" asp-items="govList">
                            <option value="0">--Select Governorate--</option>
                        </select>
                        <span asp-validation-for="GovernorateId" class="text-danger"></span>
                        <div class="d-grid mt-3">
                            <button class="btn btn-success btn-lg" type="submit"><i class="bi bi-plus-circle"></i> Add</button>
                        </div>
                    </form>
                    <div class="mt-4 text-center">
                        <a asp-action="Index" asp-controller="Courier" class="btn btn-dark"><i class="bi bi-arrow-left"></i> Back To List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>