@using ShippingSystem.Domain.Entities
@model PaymentMethod
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<form asp-action="SaveAdd" asp-controller="PaymentMethod">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-success mt-3"/>
    </div>
</form>
<a asp-action="Index" asp-controller="PaymentMethod" class="btn btn-dark mt-3"><i class="bi bi-arrow-left"></i> Back To List</a>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

