@using ShippingSystem.Presentation.ViewModels
@model GovRegionViewModel
@{
    ViewData["Title"] = "Add";
    SelectList regionList = new SelectList(Model.RegionList, "Id", "Name");
}

<h1>Add</h1>
<form asp-action="SaveNew" asp-controller="Governorate" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="RegionId"></label>
        <select asp-for="RegionId" class="form form-control" asp-items="regionList">
            <option value="0">--Select Region--</option>
        </select>
        <span asp-validation-for="RegionId" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Add" class="btn btn-success mt-3"/>
    </div>
</form>
<a class="btn btn-dark mt-3" asp-action="Index" asp-controller="Governorate"><i class="bi bi-left-arrow"></i>Back To List</a>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>