@using ShippingSystem.Domain.Entities
@using ShippingSystem.Presentation.ViewModels.OrderVM
@model AddOrderVM
@{
    ViewData["Title"] = "Add";
    SelectList govList = new SelectList(Model.GovList,"Id","Name");
    SelectList branchList = new SelectList(Model.BranchList, "Id", "Name");
    SelectList paymentMethodList = new SelectList(Model.PaymentMethodList, "Id", "Name");
    SelectList shippingTypeList = new SelectList(Model.ShippingTypeList, "Id", "Name");
    SelectList orderStatusList = new SelectList(Model.OrderStatusList, "Id", "Name");
}

<h1>Add</h1>
<form asp-action="SaveAdd" asp-controller="Order" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="CustomerName"></label>
        <input asp-for="CustomerName" class="form form-control"/>
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CustomerEmail"></label>
        <input asp-for="CustomerEmail" class="form form-control"/>
        <span asp-validation-for="CustomerEmail" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber1"></label>
        <input asp-for="PhoneNumber1" class="form form-control"/>
        <span asp-validation-for="PhoneNumber1" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber2"></label>
        <input asp-for="PhoneNumber2" class="form form-control"/>
        <span asp-validation-for="PhoneNumber2" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="BranchId"></label>
        <select asp-for="BranchId" class="form form-control" asp-items="branchList">
            <option value="0">--Select Branch--</option>
        </select>
        <span asp-validation-for="BranchId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="GovernorateId"></label>
        <select asp-for="GovernorateId" class="form form-control" asp-items="govList" id="governorateId" onchange="GetCityList()">
            <option value="0">--Select Governorate--</option>
        </select>
        <span asp-validation-for="GovernorateId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="CityId"></label>
        <select asp-for="CityId" class="form form-control" id="cityId">
        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PaymentMethodId"></label>
        <select asp-for="PaymentMethodId" class="form form-control" asp-items="paymentMethodList">
            <option value="0">--Select Payment Method--</option>
        </select>
        <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ShippingTypeId"></label>
        <select asp-for="ShippingTypeId" class="form form-control" asp-items="shippingTypeList">
            <option value="0">--Select Shipping Type--</option>
        </select>
        <span asp-validation-for="ShippingTypeId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DeliveryTypeOption"></label>
        <select class="form form-control" asp-for="DeliveryTypeOption" asp-items="@Html.GetEnumSelectList<DeliveryMethod>()">
            <option value="0">--Select Delivery Type--</option>
        </select>
        <span asp-validation-for="DeliveryTypeOption" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form form-control"/>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="VillageDelivery" /> @Html.DisplayNameFor(model => model.VillageDelivery)
        </label>
    </div>
    <div>
        <label asp-for="Notes"></label>
        <input asp-for="Notes" class="form form-control" />
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="OrderStatusId"></label>
        <select class="form form-control" asp-for="OrderStatusId" asp-items="orderStatusList">
            <option value="0">--Select Order Status--</option>
        </select>
        <span asp-validation-for="OrderStatusId" class="text-danger"></span>
    </div>

    <div id="orderItemsContainer">
        @await Html.PartialAsync("_GetOrderItemsPartial", Model.OrderItems)
    </div>

    <div>
        <button type="button" class="btn btn-primary" id="btnAddProduct">
            <i class="bi bi-plus-circle"></i> Add Product
        </button>
    </div>

    <div id="addProductSection"></div>
    <h2 class="mt-5 mb-3">City Weight Settings</h2>
    <div>
        <label asp-for="BaseWeightLimit"></label> (KG)
        <input readonly asp-for="BaseWeightLimit" class="form form-control" id="baseWeightLimit" />
    </div>
    <div>
        <label asp-for="PricePerKg"></label> (EGP)
        <input readonly asp-for="PricePerKg" class="form form-control" id="additionalWeightPrice"/>
    </div>
    <h3 class="mt-5 mb-3">City Delivery Cost</h3>
    <div>
        <label asp-for="DeliveryCost"></label> (EGP)
        <input readonly asp-for="DeliveryCost" class="form form-control" id="deliveryCost"/>
    </div>
    <div>
        <label asp-for="PickupCost"></label> (EGP)
        <input readonly asp-for="PickupCost" class="form form-control" id="pickupCost"/>
    </div>

    <h4 class="mt-5 mb-3">Merchant Data</h4>

    <div>
        <label asp-for="MerchantPhoneNum"></label>
        <input readonly asp-for="MerchantPhoneNum" class="form form-control" />
    </div>
    <div>
        <label asp-for="MerchantAddress"></label>
        <input readonly asp-for="MerchantAddress" class="form form-control" />
    </div>
    <div>
        <input class="btn btn-success mt-3" type="submit" value="Save" />
    </div>
</form>
<a asp-action="Index" asp-controller="Order" class="btn btn-dark mt-3"><i class="bi bi-arrow-left"></i> Back To List</a>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
<script>
    function GetCityList(){
        var govId=$("#governorateId").val();
        if(govId&&govId!=0){
            $.ajax({
                url:"/Order/GetCityList?govId="+govId,
                type:"GET",
                success:function(result){
                var cityDropdown = $("#cityId");
                cityDropdown.empty();
                cityDropdown.append('<option value="0">--Select City--</option>');
                $.each(result, function(index, city){
                    cityDropdown.append('<option value="' + city.id + '">' + city.name + '</option>');
                });
                },
                error:function(){
                    alert("Error Loading Cities!")
                }
            });
        }
    }

</script>

<script>
       $(document).ready(function () {

        // تحميل الفورم
        $("#btnAddProduct").click(function () {
            $.get("/Order/AddProductForm", function (data) {
                $("#addProductSection").html(data);
            });
        });

        // حفظ المنتج
        $(document).on("click", "#btnSaveProduct", function (e) {
            e.preventDefault();
            var form=$("#productForm");
            if(!form.valid()){
                return false;  //Model State Client Side
            }
            var product = {
                ProductName: $("#ProductName").val(),
                Quantity: $("#Quantity").val(),
                Weight: $("#Weight").val(),
                Price: $("#Price").val()
            };

            $.ajax({
                url: '/Order/AddProductToOrder',
                type: 'POST',
                data: product,
                success: function (result) {
                    // تحديث الجدول
                    $("#orderItemsContainer").html(result);

                    // تفريغ الفورم
                    $("#addProductSection").html("");
                },
                error: function () {
                    alert("Error adding product!");
                }
            });
        });

    });

</script>

<script>
    $("#cityId").change(function(){
        var cityId=$(this).val();
        if(cityId && cityId!=0){
            $.ajax({
                url:"/Order/GetCityById?cityId="+cityId,
                type:"GET",
                success:function(result){
                    $("#deliveryCost").val(result.deliveryCost),
                    $("#pickupCost").val(result.pickupCost)
                },
                error:function(){
                    alert("Error Loading City Costs!")
                }
            });
        }
    });
</script>
<script>
    $("#cityId").change(function(){
        var cityId=$(this).val();
        if(cityId && cityId!=0){
            $.ajax({
                url:"/Order/GetWeightSettByCityId?cityId="+cityId,
                type:"GET",
                success:function(result){
                    $("#baseWeightLimit").val(result.baseWeightLimit),
                    $("#additionalWeightPrice").val(result.priceForExtraKGs)
                },
                error:function(){
                    alert("Error Loading City Weight Settings")
                }
            });
        }
    });
</script>





