@using ShippingSystem.Domain.Entities
@model List<OrderStatus>
@{
    ViewData["Title"] = "IndexBasedOnSts";
}

<div class="mt-3 mb-3 text-center">
    <a asp-action="Add" asp-controller="Order" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add New</a>
    <a asp-action="OrdersHome" asp-controller="Order" class="btn btn-primary"><i class="bi bi-house-door-fill"> Home</i></a>
    <a asp-action="OrderReport" asp-controller="Order" class="btn btn-primary"><i class="bi bi-file-earmark"></i> Report</a>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm rounded mb-3">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">Orders</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#" onclick="GetList()">
                    All
                    <span class="visually-hidden">(current)</span>
                </a>
                @foreach (var item in Model)
                {
                    <a class="nav-item nav-link" href="#" onclick="GetOrderList(@item.Id)">@item.Name</a>
                }
            </div>
        </div>
    </div>
</nav>



<div class="table-responsive">
    <table class="table table-bordered table-hover bg-light bg-opacity-75 shadow-sm rounded">
        <thead class="table-primary">
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Customer Info</th>
                <th>Governorate</th>
                <th>City</th>
                <th>Total Cost</th>
                <th>Edit Order</th>
                <th>Order Status</th>
                <th>Change Status</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody id="tableId">
        </tbody>
    </table>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
<script>
   function GetOrderList(statusId){
         var tableElement=$("#tableId");
        tableElement.html("");
          $.ajax({
                url:'/Order/GetOrderListByOrderStatus?orderStsId='+statusId,
                type:'GET',
                success:function(result){
                    tableElement.append(result);
                },
                error:function(){
                    alert("Error Loading Orders")
                }
          });
   }
</script>
<script>
    function GetList(){
        var tableElement=$("#tableId");
        tableElement.html("");
        $.ajax({
            url:'/Order/Index',
            type:'GET',
            success:function(result){
                tableElement.append(result);
            },
            error:function(){
                alert("Error Loading Orders");
            }
        });
    }
</script>