@using ShippingSystem.Presentation.ViewModels.CityVM
@model AddCityViewModel
@{
    ViewData["Title"] = "Add";
    SelectList govsList = new SelectList(Model.GovernoratesList, "Id", "Name");
}

<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-6">
                <div class="bg-faded rounded p-5 shadow">
                    <h2 class="section-heading text-center mb-4">
                        <span class="section-heading-upper">City Management</span>
                        <span class="section-heading-lower">Add New City</span>
                    </h2>
                    <form asp-action="SaveNew" asp-controller="City" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div>
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form form-control" placeholder="Enter City Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="DeliveryCost"></label>
                            <input type="number" asp-for="DeliveryCost" class="form form-control" />
                            <span asp-validation-for="DeliveryCost" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="PickupCost"></label>
                            <input type="number" asp-for="PickupCost" class="form form-control" />
                            <span asp-validation-for="PickupCost" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="GovernorateId"></label>
                            <select asp-for="GovernorateId" asp-items="govsList" class="form form-control">
                                @* <option value="0">--Select Governorate--</option> *@
                                <option value="">--Select Governorate--</option>
                            </select>
                            <span asp-validation-for="GovernorateId" class="text-danger"></span>
                        </div>
                        <div class="d-grid mt-3">
                            <button class="btn btn-success btn-lg" type="submit"><i class="bi bi-plus-circle"></i> Add</button>
                        </div>

                    </form>
                    <div class="text-center mt-4">
                        <a class="btn btn-dark" asp-action="Index" asp-controller="City"><i class="bi bi-arrow-left"> Back To List</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>