@using ShippingSystem.Domain.Entities
@model ShippingTypes
@{
    ViewData["Title"] = "Add";
}
<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-6">
                <div class="bg-faded rounded p-5 shadow">
                    <h2 class="section-heading text-center mb-4">
                        <span class="section-heading-upper">Shipping Type Management</span>
                        <span class="section-heading-lower">Add New Shipping Type</span>
                    </h2>
                    <form asp-action="SaveAdd" asp-controller="ShippingType" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div>
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="d-grid mt-3">
                            <button class="btn btn-success btn-lg" type="submit"><i class="bi bi-plus-circle"></i> Add</button>
                        </div>
                    </form>
                    <div class="mt-4 text-center">
                        <a asp-action="Index" asp-controller="ShippingType" class="btn btn-dark"><i class="bi bi-arrow-left"></i> Back To List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
